<template>
  <g :x="x" :y="y" :transform="transform" v-resize="___resize">
    <slot>
    </slot>
  </g>
</template>

<script>
import placement from '../mixins/placement.js'
import resize from '../directives/resize.js'

export default {
  name: 'svueg-g',
  mixins: [placement],
  directives: {resize},

  methods: {
    ___resize(){
      this.$emit('resize')
    }
  }
}
</script>

<style>
</style>
