<template>
  <rect :x="x" :y="y" :transform="transform">
  </rect>
</template>

<script>
import placement from '../mixins/placement.js'

export default {
  name: 'svueg-rect',
  mixins: [placement]
}
</script>

<style>
</style>
