<template>
  <text :x="x" :y="y" :transform="transform">
    <slot>
    </slot>
  </text>
</template>

<script>
import placement from '../mixins/placement.js'

export default {
  name: 'svueg-text',
  mixins: [placement]
}
</script>

<style>
</style>
